<header>
  <nav class="navbar navbar-expand-lg nav py-2">
    <div class="container-fluid">
      <a class="navbar-brand text-white titulo mx-4" ><b>GoRiLLaz </b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon bg-light"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white button" aria-current="page" routerLink="/">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
               Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white button" routerLink="/historia">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white button" routerLink="/integrantes">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Integrantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white button" routerLink="/albumes">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Albumes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
