<app-menu></app-menu>

<div class="fondoHistoria">



  <ul class="listaA my-5">
    <li class="nav-link">Bian Oscar Rodríguez Gala "El B" y Aldo Roberto Rodríguez Baquero "El Aldeano" hicieron su primera aparición pública en 5 Palmas, La Lisa, el 27 de febrero de 2003.</li>
    <li class="nav-link">Luego ese mismo año inauguraron su dúo de rap como Los Aldeanos en el Parque Almendares. Ese año recibieron el premio Rap Plaza por su canción A veces sueño. Los Aldeanos es un grupo de rap cuyo repertorio es reconocido como revolucionario, crítico de los regímenes burocráticos y de la corrupción. Grabaron su primer álbum Censurado y un año más tarde Poesía Esposada en 2004. Mientras Aldo grababa su disco en solitario En 3T las Musas.</li>
    <li class="nav-link">Al año siguiente tomaron parte en la final anual del festival de rap Habana Hip-Hop y en la segunda anula del Simposio Hip-Hop. En 2006, para su tercer aniversario "El B" grabó Mi Filosofía y salió también "Abajo como hace Tres Febreros".

    </li> <br>

    
  </ul>

</div>

  <app-footer></app-footer>
