<app-menu></app-menu>

<section class="body ">
  <div class="row row-cols-1 row-cols-md-2 g-4 mx-5 " >
    <div class="row g-0 my-2" *ngFor="let integrante of integrantes">
      <hr>
      <div class="col-md-4">
        <img src={{integrante.foto}}  class="img-fluid rounded-start my-3" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body my-2 ">
          <h3 class="card-title mx-4"> <u>{{integrante.nombre}}</u> </h3>
          <p class="card-text mx-4 p1">{{integrante.rol}}</p>
          <p class="card-text mx-4 p2">{{integrante.descripcion}}</p>
        </div>
      </div>
    </div>
    <hr><hr>
  </div>
</section>




<app-footer></app-footer>
