<footer class=" text-center text-white footer">
  <!-- Grid container -->
  <div class="container p-1">
    <!-- Section: Social media -->
    <section class="mb-5 mt-2">
      <a
        class="btn btn-link btn-outline-light btn-floating btn-lg text-secondary m-auto"
        href="https://es-la.facebook.com/Gorillaz/"
        role="button"
        data-mdb-ripple-color="light"
        ><i class="bi bi-facebook"></i
      ></a>

      <a
      class="btn btn-link btn-outline-light btn-floating btn-lg text-secondary m-auto"
      href="https://www.youtube.com/channel/UCfIXdjDQH9Fau7y99_Orpjw"
      role="button"
      data-mdb-ripple-color="light"
      ><i class="bi bi-youtube"></i>
      </a>

      <a
      class="btn btn-link btn-outline-light btn-floating btn-lg text-secondary m-auto"
      href="https://www.google.com/search?q=gorillaz&sxsrf=ALiCzsYk7HjrkCWwGUNW48wL9_0pRPv9CQ%3A1664150900861&ei=dO0wY-uaNNKYwbkPp56a8Ao&ved=0ahUKEwjrpLGalbH6AhVSTDABHSePBq4Q4dUDCA4&uact=5&oq=gorillaz&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBwguELEDEEMyBAguEEMyBAgAEEMyBAgAEEMyBAgAEEMyBwguENQCEEMyBAguEEMyBAguEEMyBAguEEM6CggAEEcQ1gQQsAM6CggAELEDEIMBEEM6BwgAELEDEEM6CgguEMcBENEDECc6BwgjEOoCECc6DQguEMcBENEDENQCEENKBAhBGABKBAhGGABQnwxYkyRgwyVoB3ABeACAAY0CiAGyEJIBBjAuMTIuMZgBAKABAbABCsgBCMABAQ&sclient=gws-wiz"
      role="button"
      data-mdb-ripple-color="light"
      ><i class="bi bi-google"></i>
      </a>

      <a
      class="btn btn-link btn-outline-light btn-floating btn-lg text-secondary m-auto"
      href="https://www.instagram.com/gorillaz/?hl=es"
      role="button"
      data-mdb-ripple-color="light"
      ><i class="bi bi-instagram"></i>
      </a>

      <a
      class="btn btn-link btn-outline-light btn-floating btn-lg text-secondary m-auto"
      href="https://github.com/123456Susana/paginaGorillaz"
      role="button"
      data-mdb-ripple-color="light"
      ><i class="bi bi-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center pb-4" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">Susana Arenas Lopez</a>
  </div>
  <!-- Copyright -->
</footer>

